Source: kcm-gtk
Section: kde
Priority: optional
Maintainer: Debian KDE Extras Team <pkg-kde-extras@lists.alioth.debian.org>
Uploaders: Didier Raboud <odyx@debian.org>
XSBC-Original-Maintainer: Jonathan Thomas <echidnaman@kubuntu.org>, Kubuntu Developers <kubuntu-devel@lists.ubuntu.com>
Build-Depends: debhelper (>= 7.3.16~),
               pkg-kde-tools (>= 0.5.0~),
               cmake,
               kdelibs5-dev
Standards-Version: 3.9.1
Homepage: https://launchpad.net/kcm-gtk

Package: kde-config-gtk
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Breaks: kcm-gtk (<< 0.5.3-0ubuntu3)
Replaces: kcm-gtk (<< 0.5.3-0ubuntu3)
Provides: kcm-gtk
Description: Configuration module for GTK+ appearance in KDE
 This is a configuration module for System Settings for configuring the
 widget style and fonts of GTK+ applications in KDE. It is derived from
 gtk-qt-engine's configuration module.

Package: kcm-gtk
Architecture: all
Depends: ${misc:Depends}, kde-config-gtk
Description: Transitional package for kde-config-gtk
 This is a transitional package and can be safely removed after
 kde-config-gtk is installed.
