Source: kcm-gtk
Section: kde
Priority: optional
Maintainer: Debian KDE Extras Team <pkg-kde-extras@lists.alioth.debian.org>
Uploaders: Didier Raboud <odyx@debian.org>
Build-Depends: debhelper (>= 7.3.16~),
               pkg-kde-tools (>= 0.5.0~),
               cmake,
               kdelibs5-dev
Standards-Version: 3.9.1
Homepage: https://launchpad.net/kcm-gtk

Package: kde-config-gtk
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: kde-config-gtk-style
Provides: kde-config-gtk-style
Conflicts: kde-config-gtk-style
Description: Configuration module for GTK+ appearance in KDE
 This is a configuration module for System Settings for configuring the
 widget style and fonts of GTK+ applications in KDE. It is derived from
 gtk-qt-engine's configuration module.
